@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');
:root {
    --cor-um: #00e1ff;
    --cor-dois: #020483;
    --cor-tres: #000000;
    --cor-quatro: #FFFFFF;
    --cor-insta: #E4405F;
    --fonte-principal: 'Orbitron';
    --tamanho-font-um: 3rem;
    --tamanho-font-dois: 2rem;
    --tamanho-font-tres: 1.7rem;
    --tamanho-font-quatro: 1.4rem;
    --tamanho-font-cinco: 1rem;
    --tamanho-font-seis: 0.7rem;
}

* {
    padding: 0;
    box-sizing: border-box;
    color: var(--cor-quatro);
}

body {
    height: 100vh;
    background-color: var(--cor-tres);
    font-family: var(--fonte-principal), sans-serif;
}

.cabecalho {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 1%;
    align-items: first baseline;

    & .cabecalho__conteudo__link__img {
        padding: 5px;
        font-size: var(--tamanho-font-um);
    }

    .fa-instagram {
        color: var(--cor-um);
        transition: 0.3s;
    }

    .fa-instagram:hover {
        color: var(--cor-insta);
        transform: scale(1.2);
    }

    .cabecalho__conteudo__titulo {
        font-size: var(--tamanho-font-um);
        color: var(--cor-um);
        text-shadow: 4px 4px 4px var(--cor-dois);
    }

    .cabecalho__menu {
        width: 30%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: var(--tamanho-font-tres);
        gap: 5%;
    }

    .cabecalho__menu__link1 {
        color: var(--cor-um);
    }

    .cabecalho__menu__link1:hover {
        color: var(--cor-quatro);
    }

    .cabecalho__menu__link:hover {
        color: var(--cor-um);
        transform: scale(1.2);
        text-decoration: none;
        text-shadow: 4px 4px 4px var(--cor-dois);
    }

}

.secc__caixa {
    height: 70vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 10%;

    & .cabecalho__caixa__img {
        margin-top: 1%;
        border-radius: 5%;
    }

    .borda {
        display: flex;
        width: 100vw;
        max-width: 413px;
        position: relative;
        border: solid 2px var(--cor-um);
        border-radius: 10%;
    }

    .secc__img {
        position: absolute;
        right: 10%;
        top: 5%;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-sizing: border-box;
        border: solid 2px var(--cor-um);
        border-radius: 10%;
    }

    .secc__texto {
        font-family: 'inter', sans-serif;
        border: solid 2px var(--cor-um);
        border-radius: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40%;
        height: 65vh;
        padding: 2%;
        font-size: var(--tamanho-font-quatro);
        line-height: 200%;
        letter-spacing: 0.1rem;
    }
}

.rodape__conteudo {
    text-align: center;
}

.rodape__conteudo__link {
    display: inline-block;
    font-size: var(--tamanho-font-dois);
    transition: 0.3s;
}

.fa-instagram {
    color: var(--cor-quatro);
    transition: 0.3s;
}

.rodape__conteudo__link:hover {
    color: var(--cor-um);
    transform: scale(1.2);
    text-decoration: none;

    .fa-instagram {
        color: var(--cor-insta);
        transform: scale(1.2);
    }
}

@media (max-width: 1300px) {
    .cabecalho {
        height: 50vh;
        text-align: center;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20%;

        & .cabecalho__conteudo__link__img {
            height: 10vh;
            padding: 5px;
            font-size: var(--tamanho-font-dois);
        }

        .cabecalho__menu {
            width: 100%;
            flex-direction: column;
        }

    }

    .secc__caixa {
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & .secc__texto {
            flex-direction: column;
            height: 100vh;
            width: 80%;
            padding: 3%;
            font-size: var(--tamanho-font-cinco);
            margin-bottom: 10%;
        }
        .secc__img {
            position: relative;
        }
    }

    .rodape {
        margin-top: 0%;
        padding: 10px;

        & .rodape__conteudo {
            height: 20vh;
            flex-direction: column;
            align-items: flex-end;
            justify-content: end;
            text-align: center;
        }
    }
}

@media (max-width: 740px) {

    .cabecalho {
        height: 30vh;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 30%;

        & .cabecalho__conteudo__link__img {
            height: 5vh;
        }

        .cabecalho__menu {
            margin-bottom: 0%;
        }

        .cabecalho__conteudo__titulo {
            font-size: var(--tamanho-font-dois);
        }
    }
    
    .secc__caixa {
        height: 100vh;

        & .secc__texto {
            padding: 5%;
            font-size: var(--tamanho-font-cinco);
            width: 95%;
        }

        .borda {
        max-width: 300px;
    }
    }

    .rodape {
        padding: 20%;
    }

}
